<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='styles/styles.css') }}">
        <title>Independent Expenditures</title>
    </head>
    <body>
        <header>
            <a href="/">
                <h1>Independent Expenditures</h1>
            </a>

        </header>
        <div class="the-body">
            <div>
                <p>Hey!!!!</p>
            </div>
            <img width="300px"
                src="{{ url_for('static', filename='images/skywarp.jpg') }}">
            <form action="{{ url_for('ie_query') }}" method="post">
                <label for="pac-id">PAC ID:</label>
                <input type="text" id="pac-id" name="pac-id"><br><br>
                <label for="cycle">Cycle:</label>
                <input type="text" id="cycle" name="cycle"><br><br>
                <input type="submit" value="Send">
            </form>
        </div>
        <div>
            <table class="data">
                <tbody>
                    {{ df_data|safe }}
                </tbody>
            </table>
        </div>
        <p class="attribution">
            <em>*** by <a href="https://dnpdata.com">Andy Friedman</a></em></p>
    </body>
</html>